<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/src/css/style.css">
    <title>Password Guesser</title>
</head>

<body>
    <div class="body_container col-12 row">
        <h1>Password Guesser</h1>
        <!-- Formulaire -->
        <div class="form_container col-5 overScroll">
            <form method="POST">
                <div class="col-12 d-flex justify-content-around">
                    <div class="col-5">
                        <h5 class="text-light">Options</h5>
                        <div class="container bg-light rounded-2 my-2 d-flex justify-content-center">
                            <div class="d-flex justify-content-around align-items-center col-12 flex-wrap">
                                <div class="col-4 my-2 mx-1">
                                    <label>
                                        <input type="checkbox" name="lowercase"> Minus.
                                    </label>
                                </div>
                                <div class="col-4 my-2 mx-1">
                                    <label>
                                        <input type="checkbox" name="uppercase"> Majus.
                                    </label>
                                </div>
                                <div class="col-4 my-2 mx-1">
                                    <label>
                                        <input type="checkbox" name="capitalize"> Capit.
                                    </label>
                                </div>
                                <div class="col-4 my-2 mx-1">
                                    <label>
                                        <input type="checkbox" name="remove_accents"> Supp. accents
                                    </label>
                                </div>
                                <div class="col-4 my-2 mx-1">
                                    <label>
                                        <input type="checkbox" name="l33t"> L33t speak
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h5 class="text-light">Informations</h5>
                        <div class="form_group d-flex flex-wrap col-12 justify-content-center">
                            <div id="addWord" class="form_group d-flex flex-wrap col-12 justify-content-center">
                                <div class="form-floating mb-3 col-5">
                                    <input type="text" class="form-control" id="word-input" name="word"
                                        placeholder="Mot">
                                    <label for="word-input">Mot :</label>
                                </div>
                            </div>
                            <div class="form-floating mb-3 col-10">
                                <button type="button" class="form-control" onclick="addWord()">Ajouter un Mot</button>
                            </div>
                            <div id="addDate" class="form_group d-flex flex-wrap col-12 justify-content-center">
                                <div class="form-floating mb-3 col-5">
                                    <input type="date" class="form-control" id="date-input" placeholder="Date :"
                                        name="date">
                                    <label for="date-input">Date :</label>
                                </div>
                            </div>
                            <div class="form-floating mb-3 col-10">
                                <button type="button" class="form-control" onclick="addDate()">Ajouter une Date</button>
                            </div>
                            
                        </div>

                        <!-- Champs de mots et de dates ajoutés dynamiquement -->
                        <script>
                            function addWord() {
                                var container = document.getElementById('addWord');
                                var newField = document.createElement('div');
                                newField.classList.add('form-floating', 'mb-3', 'col-5');
                                var wordCounter = document.querySelectorAll('input[name^="word"]').length + 1;
                                newField.innerHTML = `
                                        <input type="text" class="form-control" id="word-input${wordCounter}" name="word${wordCounter}" placeholder="Mot">
                                        <label for="word-input${wordCounter}">Mot :</label>
                                `;
                                container.appendChild(newField);
                            }
                        
                            function addDate() {
                                var container = document.getElementById('addDate');
                                var newField = document.createElement('div');
                                newField.classList.add('form-floating', 'mb-3', 'col-5');
                                var dateCounter = document.querySelectorAll('input[name^="date"]').length + 1;
                                newField.innerHTML = `
                                    <input type="date" class="form-control" id="date-input${dateCounter}" placeholder="Date :" name="date${dateCounter}">
                                    <label for="date-input${dateCounter}">Date :</label>
                                `;
                                container.appendChild(newField);
                            }

                            function handleSubmit() {
                                var dateInputs = document.querySelectorAll('input[name^="date"]');
                                var validDates = true;

                                // Vérifier si tous les champs de date sont remplis
                                for (var i = 0; i < dateInputs.length; i++) {
                                    if (dateInputs[i].value === '') {
                                        validDates = false;
                                        break;
                                    }
                                }

                                if (validDates) {
                                    // Soumettre le formulaire
                                    document.querySelector('form').submit();
                                } else {
                                    // Afficher un message d'erreur ou prendre une autre action appropriée
                                    alert('Veuillez remplir tous les champs de date.');
                                }
                            }
                        </script>
                        

                    </div>
                </div>
                <div class="form-floating mt-5">
                    <button type="submit" class="btn_content">Générer les mots de passe</button>
                </div>
            </form>
        </div>

        <!-- Liste des mots de passes -->
        <div class="form_container col-5">
            <h3>Listes des mots de passes devinés</h3>
            <div class="word_group overScroll">
                {% for password in passwords %}
                <div class="btn_content">
                    <span>{{ password }}</span>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <!-- scripts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
</body>
<footer>

</footer>

</html>
